<div id="filter-container">
    <div id="filter">
        <div class="content-1">
            <h1>Passagens Aéreas</h1>
            <div class="op">
                <div class="active">Só Ida</div>
                <div>Ida e Volta</div>
            </div>
        </div>

        <div class="content-2">
            <div class="input-container geo">
                <p>Saida:</p>
                <input type="text">
                <i class="bi bi-geo-alt"></i>
            </div>
            <div class="input-container geo">
                <p>Chegada:</p>
                <input type="text">
                <i class="bi bi-flag"></i>
            </div>
            <div class="input-container data">
                <p>Data da Ida:</p>
                <input type="date">
            </div>
            <div class="input-container data">
                <p>Data da Volta:</p>
                <input type="date">
            </div>
            <button>Buscar</button>
        </div>
    </div>
</div>
