<div id="filter-container">
    <div id="filter">
        <div class="content-1">
            <h1>Passagens Aéreas</h1>
            <div class="op">
                <div [ngClass]="{'active': !goAndBack}" (click)="setGoAndBack()">Só Ida</div>
                <div [ngClass]="{'active': goAndBack}" (click)="setGoAndBack(true)">Ida e Volta</div>
            </div>
        </div>

        <div class="content-2">
            <div class="input-container geo">
                <p>Saida:</p>
                <input type="text" [(ngModel)]="filter.start" >
                <i class="bi bi-geo-alt"></i>
            </div>
            <div class="input-container geo">
                <p>Chegada:</p>
                <input type="text" [(ngModel)]="filter.destiny">
                <i class="bi bi-flag"></i>
            </div>
            <div class="input-container data">
                <p>Data da Ida:</p>
                <input type="date" [(ngModel)]="filter.goDate">
            </div>
            <div class="input-container data" [ngClass]="{'none': !goAndBack}">
                <p>Data da Volta:</p>
                <input type="date" [(ngModel)]="filter.backDate">
            </div>
            <button (click)="getViagens()">Buscar</button>
        </div>
    </div>
</div>