.card-viagem {
    width: 100%;
    padding: 20px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    border: solid 1px #dfdfdf;
    border-top-width: 0;
}

.first{
    border-radius: 10px 10px 0 0;
    border-top-width: 1px;
}

.last{
    border-radius: 0 0 10px 10px;
}

.card-viagem img {
    width: 15%;
    max-height: 80px;
}

.card-viagem .info {
    font-weight: bold;
    color: #5a5a5a;
}

#price{
    font-size: 30px;
    font-weight: bold;
    color: var(--blue01);
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#price span{
    font-size: 16px;
    color: #777;
}

#price .info{
    font-size: 14px;
}

button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    transition: all 0.3s;
    color: #a9a9a9;
}

.card-viagem:hover button {
    color: var(--blue01);
}

.status{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #71cf71;
    font-size: 25px;
}

@media (max-width: 750px) {
    .card-viagem {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    img {
        width: 20% !important;
    }

    #price{
       font-size: 40px;
    }
}