<div class="user-viagem" *ngFor="let voo of voos; index as index"
    [ngClass]="{'first': index == 0, 'last': index == voos.length - 1}">
    <img src="../../../assets/companhias aéreas/gol.png" alt="">
    <div class="info">
        <p>Saída: {{voo.startAirport}}</p>
        <p>Destino: {{voo.destinyAirport}}</p>
        <p>Data: {{voo.date}}</p>
    </div>
    <button (click)="open(index)">Detalhes</button>
    <!-- <div class="status"><i class="bi bi-check-circle-fill"></i></div> -->

    
</div>
<app-modal-user-voos [voo]="selectVoo" (closeModal)="close()"></app-modal-user-voos>