<div id="modal-container" [ngClass]="{'none': !show}">
    <div id="modal">
        <i class="bi bi-x-circle-fill close" (click)="close()"></i>
        <div class="content">
            <canvas id="myCanvas" style="background-color: #fff;" width="250" height="350"></canvas>

            <div class="info">

                <div class="description"><i class="bi bi-exclamation-circle-fill"></i>Na imagem, clique na cadeira em
                    que você quer viajar!</div>

                <div class="card">
                    <div class="info-card">
                        <p class="title">Origem</p>
                        <p style="text-transform: capitalize;">{{voo.start}}</p>
                    </div>

                    <div class="info-card">
                        <p class="title">Saída</p>
                        <p>{{voo.startAirport}}</p>
                    </div>

                    <div class="info-card">
                        <p class="title">Data partida</p>
                        <p>{{voo.date}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="info-card">
                        <p class="title">Destino</p>
                        <p style="text-transform: capitalize;">{{voo.destiny}}</p>
                    </div>

                    <div class="info-card">
                        <p class="title">Chegada</p>
                        <p>{{voo.destinyAirport}}</p>
                    </div>

                    <div class="info-card">
                        <p class="title">Data chegada</p>
                        <p>{{voo.date}}</p>
                    </div>
                </div>

                <div class="info-card">
                    <p class="title">Companhia</p>
                    <p>{{voo.airline}}</p>
                </div>

                <div class="info-card">
                    <p class="title">Preço</p>
                    <p>R${{voo.price}}</p>
                </div>

                <div class="info-card">
                    <p class="title">Tempo de Voo(H)</p>
                    <p>{{voo.time}}</p>
                </div>
    
                <div class="info-card">
                    <p class="title">Modelo Avião</p>
                    <p>{{voo.plane}}</p>
                </div>
    
                <div class="info-card">
                    <p class="title">Piloto</p>
                    <p>{{voo.pilot}}</p>
                </div>

            </div>
        </div>
        <button (click)="confirm()">Fazer reserva</button>

    </div>
</div>